extends ../../layouts/default.pug
block main
    h1 Page Edit Product
    form(
        action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
        id='form-edit-product'
        method="POST"
        enctype='multipart/form-data'
    )
        .container
            input(
                type="text"
                name='title' 
                id='title'
                required="required"
                value=product.title
            )
            label(for='title') Title
        .container
            textarea(
                name="description" 
                id="description" 
                rows="3"
            ) !{product.description}
            label(for='description') Description
        .container
            input(
                type="number"
                name='price' 
                id='price' 
                value=product.price
            )
            label(for='price') Price
        .container
            input(
                type="number"
                name='descountPercentage' 
                id='discountPercentage' 
                value=product.descountPercentage
            )
            label(for='discountPercentage') Discount Percentage
        .container
            input(
                type="number"
                name='stock' 
                id='stock' 
                value=product.stock
            )
            label(for='stock') Stock
        .container
            input(
                type="file" 
                class='form-control-file'
                name='thumbnail' 
                id='thumbnail' 
                accept='image/*'
            )
            label(for='thumbnail') Thumbnail
        .container-status
            input(
                type="radio" 
                name='status' 
                id='statusActive' 
                value='active'
                checked= product.status == 'active' ? true : false
            )
            label(for='statusActive') Active
            input(
                type="radio" 
                name='status' 
                id='statusInactive' 
                value='inactive'
                checked=product.status == "inactive" ? true : false
            )
            label(for='statusInactive') Inactive
        button(type='submit' class='btn create') Update